.elementor-item:before, .elementor-item:after {
  display: block;
  position: absolute;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  -webkit-transition-timing-function: cubic-bezier(0.58, 0.3, 0.005, 1);
  -o-transition-timing-function: cubic-bezier(0.58, 0.3, 0.005, 1);
  transition-timing-function: cubic-bezier(0.58, 0.3, 0.005, 1); }

.elementor-item:not(:hover):not(:focus):not(.elementor-item-active):not(.highlighted):before, .elementor-item:not(:hover):not(:focus):not(.elementor-item-active):not(.highlighted):after {
  opacity: 0; }

.elementor-item:hover:before,
.elementor-item:hover:after,
.elementor-item:focus:before,
.elementor-item:focus:after,
.elementor-item.highlighted:before,
.elementor-item.highlighted:after,
.elementor-item-active:before,
.elementor-item-active:after {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1); }

.rael--pointer-double-line .elementor-item:before, .rael--pointer-double-line .elementor-item:after, .rael--pointer-underline .elementor-item:before, .rael--pointer-underline .elementor-item:after, .rael--pointer-overline .elementor-item:before, .rael--pointer-overline .elementor-item:after {
  height: 3px;
  width: 100%;
  left: 0;
  background-color: #55595c;
  z-index: 2; }

.rael--pointer-double-line.rael--animation-grow .elementor-item:not(:hover):not(:focus):not(.elementor-item-active):not(.highlighted):before, .rael--pointer-double-line.rael--animation-grow .elementor-item:not(:hover):not(:focus):not(.elementor-item-active):not(.highlighted):after, .rael--pointer-underline.rael--animation-grow .elementor-item:not(:hover):not(:focus):not(.elementor-item-active):not(.highlighted):before, .rael--pointer-underline.rael--animation-grow .elementor-item:not(:hover):not(:focus):not(.elementor-item-active):not(.highlighted):after, .rael--pointer-overline.rael--animation-grow .elementor-item:not(:hover):not(:focus):not(.elementor-item-active):not(.highlighted):before, .rael--pointer-overline.rael--animation-grow .elementor-item:not(:hover):not(:focus):not(.elementor-item-active):not(.highlighted):after {
  height: 0;
  width: 0;
  left: 50%; }

.rael--pointer-double-line.rael--animation-drop-out .elementor-item:not(:hover):not(:focus):not(.elementor-item-active):not(.highlighted):before, .rael--pointer-underline.rael--animation-drop-out .elementor-item:not(:hover):not(:focus):not(.elementor-item-active):not(.highlighted):before, .rael--pointer-overline.rael--animation-drop-out .elementor-item:not(:hover):not(:focus):not(.elementor-item-active):not(.highlighted):before {
  top: 10px; }

.rael--pointer-double-line.rael--animation-drop-out .elementor-item:not(:hover):not(:focus):not(.elementor-item-active):not(.highlighted):after, .rael--pointer-underline.rael--animation-drop-out .elementor-item:not(:hover):not(:focus):not(.elementor-item-active):not(.highlighted):after, .rael--pointer-overline.rael--animation-drop-out .elementor-item:not(:hover):not(:focus):not(.elementor-item-active):not(.highlighted):after {
  bottom: 10px; }

.rael--pointer-double-line.rael--animation-drop-in .elementor-item:not(:hover):not(:focus):not(.elementor-item-active):not(.highlighted):before, .rael--pointer-underline.rael--animation-drop-in .elementor-item:not(:hover):not(:focus):not(.elementor-item-active):not(.highlighted):before, .rael--pointer-overline.rael--animation-drop-in .elementor-item:not(:hover):not(:focus):not(.elementor-item-active):not(.highlighted):before {
  top: -10px; }

.rael--pointer-double-line.rael--animation-drop-in .elementor-item:not(:hover):not(:focus):not(.elementor-item-active):not(.highlighted):after, .rael--pointer-underline.rael--animation-drop-in .elementor-item:not(:hover):not(:focus):not(.elementor-item-active):not(.highlighted):after, .rael--pointer-overline.rael--animation-drop-in .elementor-item:not(:hover):not(:focus):not(.elementor-item-active):not(.highlighted):after {
  bottom: -10px; }

.rael--pointer-double-line.rael--animation-none,
.rael--pointer-double-line.rael--animation-none .elementor-item, .rael--pointer-underline.rael--animation-none,
.rael--pointer-underline.rael--animation-none .elementor-item, .rael--pointer-overline.rael--animation-none,
.rael--pointer-overline.rael--animation-none .elementor-item {
  -webkit-transition-duration: 0s;
  -o-transition-duration: 0s;
  transition-duration: 0s; }

.rael--pointer-double-line.rael--animation-none:before, .rael--pointer-double-line.rael--animation-none:after, .rael--pointer-double-line.rael--animation-none:hover, .rael--pointer-double-line.rael--animation-none:focus,
.rael--pointer-double-line.rael--animation-none .elementor-item:before,
.rael--pointer-double-line.rael--animation-none .elementor-item:after,
.rael--pointer-double-line.rael--animation-none .elementor-item:hover,
.rael--pointer-double-line.rael--animation-none .elementor-item:focus, .rael--pointer-underline.rael--animation-none:before, .rael--pointer-underline.rael--animation-none:after, .rael--pointer-underline.rael--animation-none:hover, .rael--pointer-underline.rael--animation-none:focus,
.rael--pointer-underline.rael--animation-none .elementor-item:before,
.rael--pointer-underline.rael--animation-none .elementor-item:after,
.rael--pointer-underline.rael--animation-none .elementor-item:hover,
.rael--pointer-underline.rael--animation-none .elementor-item:focus, .rael--pointer-overline.rael--animation-none:before, .rael--pointer-overline.rael--animation-none:after, .rael--pointer-overline.rael--animation-none:hover, .rael--pointer-overline.rael--animation-none:focus,
.rael--pointer-overline.rael--animation-none .elementor-item:before,
.rael--pointer-overline.rael--animation-none .elementor-item:after,
.rael--pointer-overline.rael--animation-none .elementor-item:hover,
.rael--pointer-overline.rael--animation-none .elementor-item:focus {
  -webkit-transition-duration: 0s;
  -o-transition-duration: 0s;
  transition-duration: 0s; }

.rael--pointer-double-line .elementor-item:before, .rael--pointer-overline .elementor-item:before {
  content: '';
  top: 0; }

.rael--pointer-double-line.rael--animation-slide .elementor-item:not(:hover):not(:focus):not(.elementor-item-active):not(.highlighted):before, .rael--pointer-overline.rael--animation-slide .elementor-item:not(:hover):not(:focus):not(.elementor-item-active):not(.highlighted):before {
  width: 10px;
  left: -20px; }

.rael--pointer-double-line .elementor-item:after, .rael--pointer-underline .elementor-item:after {
  content: '';
  bottom: 0; }

.rael--pointer-double-line.rael--animation-slide .elementor-item:not(:hover):not(:focus):not(.elementor-item-active):not(.highlighted):after, .rael--pointer-underline.rael--animation-slide .elementor-item:not(:hover):not(:focus):not(.elementor-item-active):not(.highlighted):after {
  width: 10px;
  left: calc( 100% + 20px); }

.rael--pointer-framed .elementor-item:before, .rael--pointer-framed .elementor-item:after {
  background: transparent;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  border: 3px solid #55595c; }

.rael--pointer-framed .elementor-item:before {
  content: ''; }

.rael--pointer-framed.rael--animation-grow .elementor-item:not(:hover):not(:focus):not(.elementor-item-active):not(.highlighted):before {
  -webkit-transform: scale(0.75);
  -ms-transform: scale(0.75);
  transform: scale(0.75); }

.rael--pointer-framed.rael--animation-shrink .elementor-item:not(:hover):not(:focus):not(.elementor-item-active):not(.highlighted):before {
  -webkit-transform: scale(1.25);
  -ms-transform: scale(1.25);
  transform: scale(1.25); }

.rael--pointer-framed.rael--animation-grow .elementor-item:before, .rael--pointer-framed.rael--animation-shrink .elementor-item:before {
  -webkit-transition: opacity 0.2s, -webkit-transform 0.4s;
  transition: opacity 0.2s, -webkit-transform 0.4s;
  -o-transition: opacity 0.2s, transform 0.4s;
  transition: opacity 0.2s, transform 0.4s;
  transition: opacity 0.2s, transform 0.4s, -webkit-transform 0.4s; }

.rael--pointer-framed.rael--animation-draw .elementor-item:before, .rael--pointer-framed.rael--animation-draw .elementor-item:after {
  width: 3px;
  height: 3px; }

.rael--pointer-framed.rael--animation-draw .elementor-item:before {
  border-width: 0 0 3px 3px;
  -webkit-transition: width 0.1s 0.2s, height 0.1s 0.3s, opacity 0.12s 0.22s;
  -o-transition: width 0.1s 0.2s, height 0.1s 0.3s, opacity 0.12s 0.22s;
  transition: width 0.1s 0.2s, height 0.1s 0.3s, opacity 0.12s 0.22s; }

.rael--pointer-framed.rael--animation-draw .elementor-item:after {
  content: '';
  top: initial;
  bottom: 0;
  left: initial;
  right: 0;
  border-width: 3px 3px 0 0;
  -webkit-transition: width 0.1s, height 0.1s 0.1s, opacity 0.02s 0.18s;
  -o-transition: width 0.1s, height 0.1s 0.1s, opacity 0.02s 0.18s;
  transition: width 0.1s, height 0.1s 0.1s, opacity 0.02s 0.18s; }

.rael--pointer-framed.rael--animation-draw .elementor-item:hover:before,
.rael--pointer-framed.rael--animation-draw .elementor-item:hover:after,
.rael--pointer-framed.rael--animation-draw .elementor-item:focus:before,
.rael--pointer-framed.rael--animation-draw .elementor-item:focus:after,
.rael--pointer-framed.rael--animation-draw .elementor-item.highlighted:before,
.rael--pointer-framed.rael--animation-draw .elementor-item.highlighted:after,
.rael--pointer-framed.rael--animation-draw .elementor-item-active:before,
.rael--pointer-framed.rael--animation-draw .elementor-item-active:after {
  width: 100%;
  height: 100%; }

.rael--pointer-framed.rael--animation-draw .elementor-item:hover:before,
.rael--pointer-framed.rael--animation-draw .elementor-item:focus:before,
.rael--pointer-framed.rael--animation-draw .elementor-item.highlighted:before,
.rael--pointer-framed.rael--animation-draw .elementor-item-active:before {
  -webkit-transition: opacity 0.02s, height 0.1s, width 0.1s 0.1s;
  -o-transition: opacity 0.02s, height 0.1s, width 0.1s 0.1s;
  transition: opacity 0.02s, height 0.1s, width 0.1s 0.1s; }

.rael--pointer-framed.rael--animation-draw .elementor-item:hover:after,
.rael--pointer-framed.rael--animation-draw .elementor-item:focus:after,
.rael--pointer-framed.rael--animation-draw .elementor-item.highlighted:after,
.rael--pointer-framed.rael--animation-draw .elementor-item-active:after {
  -webkit-transition: opacity 0.02s 0.2s, height 0.1s 0.2s, width 0.1s 0.3s;
  -o-transition: opacity 0.02s 0.2s, height 0.1s 0.2s, width 0.1s 0.3s;
  transition: opacity 0.02s 0.2s, height 0.1s 0.2s, width 0.1s 0.3s; }

.rael--pointer-framed.rael--animation-corners .elementor-item:before, .rael--pointer-framed.rael--animation-corners .elementor-item:after {
  width: 3px;
  height: 3px; }

.rael--pointer-framed.rael--animation-corners .elementor-item:before {
  border-width: 3px 0 0 3px; }

.rael--pointer-framed.rael--animation-corners .elementor-item:after {
  content: '';
  top: initial;
  bottom: 0;
  left: initial;
  right: 0;
  border-width: 0 3px 3px 0; }

.rael--pointer-framed.rael--animation-corners .elementor-item:hover:before,
.rael--pointer-framed.rael--animation-corners .elementor-item:hover:after,
.rael--pointer-framed.rael--animation-corners .elementor-item:focus:before,
.rael--pointer-framed.rael--animation-corners .elementor-item:focus:after,
.rael--pointer-framed.rael--animation-corners .elementor-item.highlighted:before,
.rael--pointer-framed.rael--animation-corners .elementor-item.highlighted:after,
.rael--pointer-framed.rael--animation-corners .elementor-item-active:before,
.rael--pointer-framed.rael--animation-corners .elementor-item-active:after {
  width: 100%;
  height: 100%;
  -webkit-transition: opacity 0.002s, width 0.4s, height 0.4s;
  -o-transition: opacity 0.002s, width 0.4s, height 0.4s;
  transition: opacity 0.002s, width 0.4s, height 0.4s; }

.rael--pointer-framed.rael--animation-none,
.rael--pointer-framed.rael--animation-none .elementor-item {
  -webkit-transition-duration: 0s;
  -o-transition-duration: 0s;
  transition-duration: 0s; }

.rael--pointer-framed.rael--animation-none:before, .rael--pointer-framed.rael--animation-none:after, .rael--pointer-framed.rael--animation-none:hover, .rael--pointer-framed.rael--animation-none:focus,
.rael--pointer-framed.rael--animation-none .elementor-item:before,
.rael--pointer-framed.rael--animation-none .elementor-item:after,
.rael--pointer-framed.rael--animation-none .elementor-item:hover,
.rael--pointer-framed.rael--animation-none .elementor-item:focus {
  -webkit-transition-duration: 0s;
  -o-transition-duration: 0s;
  transition-duration: 0s; }

.rael--pointer-background .elementor-item:before, .rael--pointer-background .elementor-item:after {
  content: '';
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s; }

.rael--pointer-background .elementor-item:before {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #55595c;
  z-index: -1; }

.rael--pointer-background .elementor-item:hover,
.rael--pointer-background .elementor-item:focus,
.rael--pointer-background .elementor-item.highlighted,
.rael--pointer-background .elementor-item-active {
  color: #fff; }

.rael--pointer-background.rael--animation-grow .elementor-item:before {
  -webkit-transform: scale(0.5);
  -ms-transform: scale(0.5);
  transform: scale(0.5); }

.rael--pointer-background.rael--animation-grow .elementor-item:hover:before,
.rael--pointer-background.rael--animation-grow .elementor-item:focus:before,
.rael--pointer-background.rael--animation-grow .elementor-item.highlighted:before,
.rael--pointer-background.rael--animation-grow .elementor-item-active:before {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  opacity: 1; }

.rael--pointer-background.rael--animation-shrink .elementor-item:not(:hover):not(:focus):not(.elementor-item-active):not(.highlighted):before {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s; }

.rael--pointer-background.rael--animation-shrink .elementor-item:hover:before,
.rael--pointer-background.rael--animation-shrink .elementor-item:focus:before,
.rael--pointer-background.rael--animation-shrink .elementor-item.highlighted:before,
.rael--pointer-background.rael--animation-shrink .elementor-item-active:before {
  -webkit-transition: opacity 0.15s, -webkit-transform 0.4s;
  transition: opacity 0.15s, -webkit-transform 0.4s;
  -o-transition: opacity 0.15s, transform 0.4s;
  transition: opacity 0.15s, transform 0.4s;
  transition: opacity 0.15s, transform 0.4s, -webkit-transform 0.4s; }

.rael--pointer-background.rael--animation-sweep-left .elementor-item:not(:hover):not(:focus):not(.elementor-item-active):not(.highlighted):before {
  left: 100%; }

.rael--pointer-background.rael--animation-sweep-right .elementor-item:not(:hover):not(:focus):not(.elementor-item-active):not(.highlighted):before {
  right: 100%; }

.rael--pointer-background.rael--animation-sweep-up .elementor-item:not(:hover):not(:focus):not(.elementor-item-active):not(.highlighted):before {
  top: 100%; }

.rael--pointer-background.rael--animation-sweep-down .elementor-item:not(:hover):not(:focus):not(.elementor-item-active):not(.highlighted):before {
  bottom: 100%; }

.rael--pointer-background.rael--animation-shutter-out-vertical .elementor-item:not(:hover):not(:focus):not(.elementor-item-active):not(.highlighted):before {
  bottom: 50%;
  top: 50%; }

.rael--pointer-background.rael--animation-shutter-out-horizontal .elementor-item:not(:hover):not(:focus):not(.elementor-item-active):not(.highlighted):before {
  right: 50%;
  left: 50%; }

.rael--pointer-background.rael--animation-shutter-in-vertical .elementor-item:after, .rael--pointer-background.rael--animation-shutter-in-horizontal .elementor-item:after {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #55595c;
  z-index: -1; }

.rael--pointer-background.rael--animation-shutter-in-vertical .elementor-item:before {
  top: 0;
  bottom: 100%; }

.rael--pointer-background.rael--animation-shutter-in-vertical .elementor-item:after {
  top: 100%;
  bottom: 0; }

.rael--pointer-background.rael--animation-shutter-in-vertical .elementor-item:hover:before,
.rael--pointer-background.rael--animation-shutter-in-vertical .elementor-item:focus:before,
.rael--pointer-background.rael--animation-shutter-in-vertical .elementor-item.highlighted:before,
.rael--pointer-background.rael--animation-shutter-in-vertical .elementor-item-active:before {
  bottom: 50%; }

.rael--pointer-background.rael--animation-shutter-in-vertical .elementor-item:hover:after,
.rael--pointer-background.rael--animation-shutter-in-vertical .elementor-item:focus:after,
.rael--pointer-background.rael--animation-shutter-in-vertical .elementor-item.highlighted:after,
.rael--pointer-background.rael--animation-shutter-in-vertical .elementor-item-active:after {
  top: 50%; }

.rael--pointer-background.rael--animation-shutter-in-horizontal .elementor-item:before {
  right: 0;
  left: 100%; }

.rael--pointer-background.rael--animation-shutter-in-horizontal .elementor-item:after {
  right: 100%;
  left: 0; }

.rael--pointer-background.rael--animation-shutter-in-horizontal .elementor-item:hover:before,
.rael--pointer-background.rael--animation-shutter-in-horizontal .elementor-item:focus:before,
.rael--pointer-background.rael--animation-shutter-in-horizontal .elementor-item.highlighted:before,
.rael--pointer-background.rael--animation-shutter-in-horizontal .elementor-item-active:before {
  left: 50%; }

.rael--pointer-background.rael--animation-shutter-in-horizontal .elementor-item:hover:after,
.rael--pointer-background.rael--animation-shutter-in-horizontal .elementor-item:focus:after,
.rael--pointer-background.rael--animation-shutter-in-horizontal .elementor-item.highlighted:after,
.rael--pointer-background.rael--animation-shutter-in-horizontal .elementor-item-active:after {
  right: 50%; }

.rael--pointer-background.rael--animation-none,
.rael--pointer-background.rael--animation-none .elementor-item {
  -webkit-transition-duration: 0s;
  -o-transition-duration: 0s;
  transition-duration: 0s; }

.rael--pointer-background.rael--animation-none:before, .rael--pointer-background.rael--animation-none:after, .rael--pointer-background.rael--animation-none:hover, .rael--pointer-background.rael--animation-none:focus,
.rael--pointer-background.rael--animation-none .elementor-item:before,
.rael--pointer-background.rael--animation-none .elementor-item:after,
.rael--pointer-background.rael--animation-none .elementor-item:hover,
.rael--pointer-background.rael--animation-none .elementor-item:focus {
  -webkit-transition-duration: 0s;
  -o-transition-duration: 0s;
  transition-duration: 0s; }

.rael--pointer-text.rael--animation-skew .elementor-item:hover,
.rael--pointer-text.rael--animation-skew .elementor-item:focus {
  -webkit-transform: skew(-8deg);
  -ms-transform: skew(-8deg);
  transform: skew(-8deg); }

.rael--pointer-text.rael--animation-grow .elementor-item:hover,
.rael--pointer-text.rael--animation-grow .elementor-item:focus {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2); }

.rael--pointer-text.rael--animation-shrink .elementor-item:hover,
.rael--pointer-text.rael--animation-shrink .elementor-item:focus {
  -webkit-transform: scale(0.8);
  -ms-transform: scale(0.8);
  transform: scale(0.8); }

.rael--pointer-text.rael--animation-float .elementor-item:hover,
.rael--pointer-text.rael--animation-float .elementor-item:focus {
  -webkit-transform: translateY(-8px);
  -ms-transform: translateY(-8px);
  transform: translateY(-8px); }

.rael--pointer-text.rael--animation-sink .elementor-item:hover,
.rael--pointer-text.rael--animation-sink .elementor-item:focus {
  -webkit-transform: translateY(8px);
  -ms-transform: translateY(8px);
  transform: translateY(8px); }

.rael--pointer-text.rael--animation-rotate .elementor-item:hover,
.rael--pointer-text.rael--animation-rotate .elementor-item:focus {
  -webkit-transform: rotate(6deg);
  -ms-transform: rotate(6deg);
  transform: rotate(6deg); }

.rael--pointer-text.rael--animation-none,
.rael--pointer-text.rael--animation-none .elementor-item {
  -webkit-transition-duration: 0s;
  -o-transition-duration: 0s;
  transition-duration: 0s; }

.rael--pointer-text.rael--animation-none:before, .rael--pointer-text.rael--animation-none:after, .rael--pointer-text.rael--animation-none:hover, .rael--pointer-text.rael--animation-none:focus,
.rael--pointer-text.rael--animation-none .elementor-item:before,
.rael--pointer-text.rael--animation-none .elementor-item:after,
.rael--pointer-text.rael--animation-none .elementor-item:hover,
.rael--pointer-text.rael--animation-none .elementor-item:focus {
  -webkit-transition-duration: 0s;
  -o-transition-duration: 0s;
  transition-duration: 0s; }

/*# sourceMappingURL=pointer.css.map */