.rael-stacking-cards-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    margin-bottom:  var(--card-gap);
}
.rael-stacking-card {
    position: sticky;
    top: 100px;
    font-size: 2rem;
    width: 100%;
    transform-origin: var(--rae-transform-origin-x, 0%) var(--rae-transform-origin-y, 0%);
    will-change: transform;
    transition: transform 0.4s ease;
    transform: scale(1);
    overflow: hidden;
}
.rael-card-inner {
    display: flex;
    flex-direction: row;
    width: 100%;
}
.rael-card-content {
    flex: 1;
    order: 1;
}
.rael-card-media {
    flex: 0 0 280px;
    max-width: 40%;
    order: 2;
}
.rael-card-media img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}
.rael-card-graphic {
    display: flex;
    align-items: center;
    justify-content: center;
}
.rtl-enabled .rael-card-content {
    order: 2;
}
.rtl-enabled .rael-card-media {
    order: 1;
}
.rael-card-graphic {
    margin-inline-start: 0;
    margin-inline-end: auto;
}
.rtl-enabled .rael-card-graphic {
    margin-inline-start: auto;
    margin-inline-end: 0;
}
