.responsive--v-position-middle .swiper-slide-inner {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.responsive--v-position-top .swiper-slide-inner {
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start; }

.responsive--v-position-bottom .swiper-slide-inner {
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end; }

.responsive--h-position-left .swiper-slide-inner {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start; }

.responsive--h-position-right .swiper-slide-inner {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end; }

.responsive--h-position-center .swiper-slide-inner {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.responsive-swiper-button {
  position: absolute;
  display: inline-flex;
  z-index: 1;
  cursor: pointer;
  font-size: 25px;
  color: rgba(238, 238, 238, 0.9);
  top: 50%;
  transform: translate3d(0, -50%, 1px); }
  .responsive-swiper-button.responsive-swiper-button-prev {
    left: 10px; }
  .responsive-swiper-button.responsive-swiper-button-next {
    right: 10px; }
  .responsive-swiper-button.swiper-button-disabled {
    opacity: 0.3; }

.elementor-pagination-position-outside .swiper-container {
  padding-bottom: 30px; }

.elementor-pagination-position-outside .responsive-swiper-button {
  top: calc(50% - 30px / 2); }

.elementor-arrows-position-outside .swiper-container {
  width: calc(100% - 60px); }

.elementor-arrows-position-outside .responsive-swiper-button-prev {
  left: 0; }

.elementor-arrows-position-outside .responsive-swiper-button-next {
  right: 0; }

.responsive-main-swiper .swiper-slide-inner .responsive-slide-button {
  border: solid 2px white;
  display: inline-block;
  background: transparent;
  color: white;
  text-decoration: none; }
  .responsive-main-swiper .swiper-slide-inner .responsive-slide-button:hover {
    background: transparent;
    color: inherit;
    text-decoration: none; }
  .responsive-main-swiper .swiper-slide-inner .responsive-slide-button.elementor-button:not([disabled]) {
    cursor: pointer; }

.responsive-main-swiper {
  position: static; }
  .responsive-main-swiper .responsive-slide-heading {
    font-size: 35px;
    font-weight: bold;
    line-height: 1; }
    .responsive-main-swiper .responsive-slide-heading:not(:last-child) {
      margin-bottom: 30px; }
  .responsive-main-swiper .responsive-slide-description {
    font-size: 17px;
    line-height: 1.4; }
    .responsive-main-swiper .responsive-slide-description:not(:last-child) {
      margin-bottom: 30px; }
  .responsive-main-swiper .responsive-slides .swiper-slide-bg {
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-width: 100%;
    min-height: 100%; }
  .responsive-main-swiper .responsive-slides .swiper-slide-inner {
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    padding: 50px;
    margin: auto;
    color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .responsive-main-swiper .responsive-slides .swiper-slide-inner:hover {
      color: white;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
  .responsive-main-swiper .responsive-slides .responsive-background-overlay {
    position: absolute;
    z-index: 0;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0; }
  .responsive-main-swiper .responsive-size-xs {
    font-size: 11px;
    padding: 10px 20px;
    border-radius: 2px; }
  .responsive-main-swiper .responsive-size-sm {
    font-size: 13px;
    padding: 12px 24px;
    border-radius: 3px; }
  .responsive-main-swiper .responsive-size-md {
    font-size: 14px;
    padding: 15px 30px;
    border-radius: 4px; }
  .responsive-main-swiper .responsive-size-lg {
    font-size: 15px;
    padding: 20px 40px;
    border-radius: 5px; }
  .responsive-main-swiper .responsive-size-xl {
    font-size: 18px;
    padding: 25px 50px;
    border-radius: 6px; }
  .responsive-main-swiper div:not(.swiper-slide) > .swiper-slide-inner {
    display: none; }

body.rtl .responsive-widget-slides .responsive-swiper-button-next {
  left: 10px;
  right: auto; }

body.rtl .responsive-widget-slides .responsive-swiper-button-prev {
  right: 10px;
  left: auto; }

@media (max-width: 767px) {
  .responsive-slides .swiper-slide-inner {
    padding: 30px; }
    .responsive-slides .swiper-slide-inner .responsive-slide-heading {
      font-size: 23px;
      line-height: 1;
      margin-bottom: 15px; }
    .responsive-slides .swiper-slide-inner .responsive-slide-description {
      font-size: 13px;
      line-height: 1.4;
      margin-bottom: 15px; } }

.fadeInUp {
  animation-name: fadeInUp; }

.fadeInDown {
  animation-name: fadeInDown; }

.fadeInLeft {
  animation-name: fadeInLeft; }

.fadeInRight {
  animation-name: fadeInRight; }

.zoomIn {
  animation-name: zoomIn; }

