.rael-flip-box {
  display: grid;
  grid-template-columns: 1fr;
  perspective: 1000px;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d; }

.rael-flip-box .elementor-icon {
  color: #fff; }

.rael-flip-box:hover .elementor-icon i::before {
  content: ''; }

.rael-flip-box .elementor-view-framed .elementor-icon {
  color: #fff;
  border-color: #fff; }

.rael-flip-box .elementor-view-stacked .elementor-icon {
  color: #fff;
  background-color: rgba(0, 0, 0, 0.5); }

.rael-flip-box .elementor-icon-wrapper {
  margin-bottom: 20px; }

.rael-flip-box-front {
  background-color: #1e87f0; }

.rael-flip-box-back {
  background-color: #b7b4b4;
  display: block; }

.rael-flip-box-layer {
  grid-row-start: 1;
  grid-column-start: 1;
  width: 100%;
  height: 100%;
  transition: all .6s ease-in-out; }

.rael-flip-box-layer-overlay {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  text-align: center;
  padding: 35px; }

.rael-flip-box-layer-title {
  font-size: 21px;
  line-height: 1;
  font-weight: 600;
  color: #fff; }

.rael-flip-box-layer-title:not(:last-child) {
  margin: 0 0 20px 0;
  padding: 0; }

.rael-flip-box-layer-desc {
  font-size: 14px;
  color: #e5e5e5; }

.rael-flip-box-layer-desc:not(:last-child) {
  margin: 0 0 20px 0;
  padding: 0; }

.rael-flip-box-image {
  margin: 0 0 20px 0;
  display: inline-block;
  width: 100%; }

.rael-flip-box-3d-yes .rael-flip-box-layer-inner {
  transform: translateZ(90px) scale(0.91); }

.rael-flip-box-3d-yes .rael-flip-box-layer-overlay {
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  transform: translateZ(0.1px);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden; }

.rael-flip-box-effect-flip .rael-flip-box {
  perspective: 1000px;
  transform-style: preserve-3d; }

.rael-flip-box-effect-flip .rael-flip-box:hover .rael-flip-box-back {
  transform: none; }

.rael-flip-box-effect-flip .rael-flip-box-layer {
  transform-style: preserve-3d;
  backface-visibility: hidden; }

.rael-flip-box-effect-flip .rael-flip-box-front {
  transform: none;
  z-index: 1; }

.rael-flip-box-effect-flip.rael-flip-box-direction-right .rael-flip-box-back {
  transform: rotateX(0) rotateY(-180deg); }

.rael-flip-box-effect-flip.rael-flip-box-direction-right .rael-flip-box:hover .rael-flip-box-front {
  transform: rotateX(0) rotateY(180deg); }

.rael-flip-box-effect-flip.rael-flip-box-direction-left .rael-flip-box-back {
  transform: rotateX(0) rotateY(180deg); }

.rael-flip-box-effect-flip.rael-flip-box-direction-left .rael-flip-box:hover .rael-flip-box-front {
  transform: rotateX(0) rotateY(-180deg); }

.rael-flip-box-effect-flip.rael-flip-box-direction-up .rael-flip-box-back {
  transform: rotateX(-180deg) rotateY(0); }

.rael-flip-box-effect-flip.rael-flip-box-direction-up .rael-flip-box:hover .rael-flip-box-front {
  transform: rotateX(180deg) rotateY(0); }

.rael-flip-box-effect-flip.rael-flip-box-direction-down .rael-flip-box-back {
  transform: rotateX(180deg) rotateY(0); }

.rael-flip-box-effect-flip.rael-flip-box-direction-down .rael-flip-box:hover .rael-flip-box-front {
  transform: rotateX(-180deg) rotateY(0); }

.rael-flip-box-effect-push .rael-flip-box-front {
  transform: none; }

.rael-flip-box-effect-push .rael-flip-box {
  overflow: hidden; }

.rael-flip-box-effect-push .rael-flip-box:hover .rael-flip-box-back {
  transform: none; }

.rael-flip-box-effect-push.rael-flip-box-direction-right .rael-flip-box:hover .rael-flip-box-front {
  transform: translateX(100%) translateY(0); }

.rael-flip-box-effect-push.rael-flip-box-direction-right .rael-flip-box-back {
  transform: translateX(-100%) translateY(0); }

.rael-flip-box-effect-push.rael-flip-box-direction-left .rael-flip-box:hover .rael-flip-box-front {
  transform: translateX(-100%) translateY(0); }

.rael-flip-box-effect-push.rael-flip-box-direction-left .rael-flip-box-back {
  transform: translateX(100%) translateY(0); }

.rael-flip-box-effect-push.rael-flip-box-direction-up .rael-flip-box:hover .rael-flip-box-front {
  transform: translateX(0) translateY(-100%); }

.rael-flip-box-effect-push.rael-flip-box-direction-up .rael-flip-box-back {
  transform: translateX(0) translateY(100%); }

.rael-flip-box-effect-push.rael-flip-box-direction-down .rael-flip-box:hover .rael-flip-box-front {
  transform: translateX(0) translateY(100%); }

.rael-flip-box-effect-push.rael-flip-box-direction-down .rael-flip-box-back {
  transform: translateX(0) translateY(-100%); }

.rael-flip-box-effect-slide .rael-flip-box {
  overflow: hidden; }

.rael-flip-box-effect-slide .rael-flip-box:hover .rael-flip-box-back {
  transform: none; }

.rael-flip-box-effect-slide.rael-flip-box-direction-right .rael-flip-box-back {
  transform: translateX(-100%) translateY(0); }

.rael-flip-box-effect-slide.rael-flip-box-direction-left .rael-flip-box-back {
  transform: translateX(100%) translateY(0); }

.rael-flip-box-effect-slide.rael-flip-box-direction-up .rael-flip-box-back {
  transform: translateX(0) translateY(100%); }

.rael-flip-box-effect-slide.rael-flip-box-direction-down .rael-flip-box-back {
  transform: translateX(0) translateY(-100%); }

.rael-flip-box-effect-zoom-out .rael-flip-box {
  height: 280px; }

.rael-flip-box-effect-zoom-out .rael-flip-box-layer {
  position: absolute; }

.rael-flip-box-effect-zoom-out .rael-flip-box .rael-flip-box-front {
  transition: transform .7s, opacity .35s, width .1ms;
  opacity: 1;
  transform: scale(1);
  z-index: 1;
  width: 100%; }

.rael-flip-box-effect-zoom-out .rael-flip-box:hover .rael-flip-box-front {
  width: 0;
  opacity: 0;
  transform: scale(0.7);
  transition: transform .8s, opacity .7s .1s, width .1ms .7s; }

.rael-flip-box-effect-zoom-in .rael-flip-box .rael-flip-box-back {
  transition: transform .7s, opacity .5s .2s;
  opacity: 0;
  transform: scale(0.7); }

.rael-flip-box-effect-zoom-in .rael-flip-box:hover .rael-flip-box-back {
  transition: transform .7s, opacity .5s;
  opacity: 1;
  transform: scale(1); }

.rael-flip-box-effect-fade .rael-flip-box .rael-flip-box-back {
  opacity: 0; }

.rael-flip-box-effect-fade .rael-flip-box:hover .rael-flip-box-back {
  opacity: 1; }

.elementor-widget-rael-flip-box.rael-flip-box-flipped .elementor-widget-container .rael-flip-box-front {
  display: none; }

.elementor-widget-rael-flip-box.rael-flip-box-flipped .elementor-widget-container .rael-flip-box-back {
  transform: none;
  opacity: 1; }

@media (max-device-width: 1024px) {
  .rael-flip-box {
    cursor: pointer; } }

/*# sourceMappingURL=rael-flipbox.css.map */