.rael-notice-button-group {
    margin-top: 20px;
}

.rael-notice-button-group button {
    padding: 4px 17px 4px 17px !important;
    line-height: 2em;
}

.rael-notice-button-group #rael_migration_notice_button {
    background-color: #007CBA !important;
}

.rael-migration-pending {
    padding-bottom: 14px;
    border-left-color: #007CBA;
}

.rael-migration-pending p {
    line-height: 2em;
}

.rael-migration-complete {
    border-left-color: #428A58;
}

.rael-migration-notice-show {
    display: block;
}

.rael-migration-notice-hide {
    display: none;
}

/* Consent Popup */
.rael-consent-popup-form-wrapper-outer {
    display: none;
}

.rael-consent-popup-form-title {
    text-align: center;
    font-weight: 400;
    font-size: 14px;
    margin: 5px 0;
}

.rael-consent-popup-form-wrapper {
    display: flex;
    font-family: sans-serif;
    background-color: rgba(0, 0, 0, 0.4);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    justify-content: center;
    align-items: center;
}

.rael-consent-popup-form-close-btn {
    float: right;
    position: relative;
    top: 10px;
    right: 12px;
    border: 2px solid rgba(0, 0, 0, 0.8);
    border-radius: 50%;
}

.rael-consent-popup-form-close-btn:hover {
    cursor: pointer;
}

.rael-consent-popup-form-content {
    padding: 34px 40px;
}

.rael-consent-popup-form {
    display: flex;
    width: 600px;
    flex-direction: column;
    background-color: #fff;
    justify-content: space-between;
}

.rael-consent-popup-form-checkbox-label {
    margin-top: 5px;
    font-size: 12px;
}

#rael-consent-popup-form-checkbox {
    border-color: #C1C8CD;
}

#rael-consent-popup-form-migrate {
    line-height: 2em;
    padding: 8px 17px;
}

.rael-consent-popup-form-inputs {
    padding: 0px 10px;
    margin-top: 46px;
    font-size: 14px;
    color: black;
}

.rael-consent-popup-form-input-choices {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px 0;
}

.rael-consent-popup-form-input-checkbox-wrapper {
    display: flex;
    width: 300px;
}

.rael-consent-popup-form-inputs input {
    margin: 5px;
}

.rael-consent-popup-form-buttons-wrap {
    background-color: #f1f1f1;
    border-top: 1px solid #d9d9d9;
    padding: 16px;
}

.rael-consent-popup-form-buttons {
    display: flex;
    justify-content: space-between;
}

.rael-consent-popup-form-buttons div {
    font-size: 12px;
}

.rael-consent-popup-form-description {
    padding: 0 17px;
}

.rael-consent-popup-form-description-content {
    font-size: 14px;
    color: black;
}

.rael-activated {
    border-left-color: #2D2C52;
    padding-left: 0;
}

.rael-rael-activated-notice-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2em;
}

.rael-rael-activated-notice-desc {
    margin-bottom: 16px !important;
}

.rael-rael-activated-notice-logo-container {
    background-color: #D9D9D9;
    width: 50px;
    margin-bottom: -1px;
    margin-top: -1px;
}

.rael-rael-activated-container {
    display: flex;
}

.rael-rael-activated-notice-content {
    margin-left: 20px;
}

.rael-rael-activated-notice-logo-container {
    text-align: center;
    padding-top: 20px;
}

.rael-no-migration-notice {
    border-left-color: #007CBA;
}

.rael-no-migration-notice p {
    line-height: 2em;
}